body {
    /*background: linear-gradient(135deg, #ffffff, #ffffff, #0a192f, #172a45);*/
    background-image: url(BlueCosmicStorm5.png);
    background-size: 110% 100%;
  }
  .backFooter{
    /*background-image: url(Footer.png);
    background-size: 100% 100%;*/
    background-image: url(BlueCosmicStorm5.png);
    background-size: 100% 100%;
  }
  .back{
    background-image: url(BlueCosmicStorm4.png);
    background-size: 100% 100%;
  }
  .back2{
    background-image: url(sahumoBack2.png);
    background-size: 100% 100%;
  }
  .back3{
    background-image: url(reiki5.png);
    background-size: 100% 100%;
  }
  .back4{
    background-image: url(shamanismBack.png);
    background-size: 100% 100%;
  }
  .sec2{
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: left;
  /*font-family: poppins;*/
}
.sec2 > h1{
  animation: revealing;
  animation-timeline: view(block);
  animation-range: cover 0% cover 50%;
  margin: 0px;
}
@keyframes revealing {
  from {
    color: gray;
    margin-right: 100%;
    filter: blur(50px);
    opacity: 0.5;
  }
  to {
    margin: 0px;
    filter: blur(0px);
    opacity: 1;
  }
}
/*Usa transformaciones en lugar de animaciones: En lugar de animar propiedades como margin y filter, considera usar transformaciones (translate, scale, etc.). Las transformaciones suelen ser más eficientes en términos de rendimiento.*/
.sec3{
  text-align: center;
  display: flex;
  align-items: left;
  justify-content: left;
  /*font-family: poppins;*/
}
  .sec3 > h3 {
    animation: revealing2;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
    margin: 0px;
  }
  @keyframes revealing2 {
    from {
      color: gray;
    /*  margin-right:100%;*/
      filter: blur(50px);
      opacity: 0.5;
    }
    to {
      margin: 0px;
      filter: blur(0px);
      opacity: 1;
    }
  }
  .nav-menu { 
    margin: 0 auto;
    border-radius: 20px; 
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    -webkit-backdrop-filter: blur(10px); /* Desenfoque de fondo para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semitransparente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    display: flex; 
    gap: 30px; 
    flex-wrap: wrap; 
    padding: 20px 30px; 
    font: 18px Inter, sans-serif; 
    display: flex;
  }
  .mancias-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .mancias-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
  }
  .mancias-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
  }
  .header { 
    display: flex; 
    width: 100%; 
    max-width: 1027px; 
    gap: 20px; 
    color: #000; 
    font-weight: 400; 
    white-space: nowrap; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  @media (max-width: 991px) { .header { max-width: 100%; white-space: initial; } }
  .logo { 
      /* Establece el tamaño y la forma del logo */
width: 50px;
height: 50px;
border-radius: 50%;
/* Estilos de fondo */
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
/* Posicionamiento */
position: absolute;
top: 0; /* Alinea con la parte superior */
left: 0; /* Alinea con la parte izquierda */
/* Centra el contenido (el texto del logo) */
display: flex;
justify-content: center;
align-items: center;
font: 30px BIZ UDGothic, sans-serif;
  }
  .logo::before {
    content: "OC"; /* El texto que deseas insertar */
    font-size: 20px;
    position: absolute;
    top: 50%; /* Centramos verticalmente */
    left: 50%; /* Centramos horizontalmente */
    transform: translate(-50%, -50%); /* Ajustamos para centrar completamente */
    color: #626262; /* Color del texto */
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none
  }
  .navigation {
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    display: flex;
    width: 638px;
    max-width: 100%;
    gap: 26px;
    color: #000;
    flex-wrap: wrap;
    padding: 29px 39px;
    font: 400 22px Inter, sans-serif;
  }
  .nav-item {
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .nav-item-grow {
    flex-grow: 1;
  }
  .content-wrapper {
    display: flex;
    margin-top: 150px;
    width: 100%;
    gap: 20px;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content-wrapper2 {
    display: flex;
    width: 100%;
    gap: 20px;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content-wrapper3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .content-wrapper4 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .content-wrapper5 {
    display: flex;
    width: 100%;
    font-weight: 400;
    justify-content: left;
  }
  .mancias-info {
    display: flex;
    flex-direction: column;
    font-family: BIZ UDGothic, sans-serif;
  }
  .mancias-title {
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  .mancias-title2 {
    color: rgba(0, 0, 0, 0.7);
    /*text-align: left;*/
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-size: 38px;
  }
  .mancias-title3 {
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-size: 40px;
  }
  .mancias-description {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 570px;
  }
  .mancias-description2 {
    display: flex;
    margin-top: 60px;
    margin-left: 90px;
    /*
    margin-right: -20px;
    padding-left: 20px;    
    height: 2%;
    width: 2%;*/
    flex-direction: row;
  }
  .mancias-description3 {
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
    /*
    margin-right: -20px;
    padding-left: 20px;    
    height: 2%;
    width: 2%;*/
    flex-direction: row;
  }
  .mancias-description4 {
    display: flex;
    flex-direction: column;
    height: 570px;
  }
  .description-text {
    color: #4a4a4a;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    text-align: justify;
    /*margin-left: 20px;*/
  }
  .description-text2 {
    color: #4a4a4a;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    text-align: left;
  }
  .description-text3 {
    color: #4a4a4a;
    font-size: 10px;
    text-align: right;
  }
  .description-text3 {
    color: #4a4a4a;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    text-align: right;
   /*margin-right: 20px;*/
  }
  .cta-button {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    -webkit-backdrop-filter: blur(10px); /* Desenfoque de fondo para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semitransparente */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    align-self: start;
    font-size: 20px;
    text-align: center;
    padding: 23px 26px;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
  .cta-button:hover{
    transform: scale(1.2);
  }
  .cta-button2 {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    -webkit-backdrop-filter: blur(10px); /* Desenfoque de fondo para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semitransparente */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    align-self: start;
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
    padding: 20px 23px;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
  .cta-button2:hover{
    transform: scale(1.2);
  }
  .canalizar-section {
    align-self: start;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 15px;
    /*padding-right: 10px;*/
  }
  .canalizar-section2 {
    /*align-self: start;*/
    display: flex;
    flex-direction: column;
  }

  .canalizar-section3 {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }
  .canalizar-title {
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    -webkit-backdrop-filter: blur(10px); /* Desenfoque de fondo para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semitransparente */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    font-family: BIZ UDGothic, sans-serif;
    text-align: center;
    padding: 42px 10px;
    border-radius: 10px;
  }
  .canalizar-title::before {
    content: "Aquí, canalizar se refiere a abrirse a influencias más allá de lo material. Algunas personas practican la canalización para recibir información o inspiración de fuentes espirituales o energéticas.";
    font-size: 10px;
    position: absolute;
    top: -30px; /* Ajusta la posición vertical */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra respecto al ancho del elemento */
    background-color: #333;
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px; /* Aumenta el valor para hacerlo más redondeado */
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  }
  
  .canalizar-title:hover::before {
    opacity: 1; /* Hace visible el globo al hacer hover */
  }
  .canalizar-list {
    list-style: none;
    align-self: end;
    display: flex;
    flex-direction: column;
    font-family: BioRhyme, sans-serif;
    text-align: left;
    padding-right: 10px;
  }
  .canalizar-item {
    align-self: end;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }

  .canalizar-item2 {
    align-self: end;
    /*margin-top: 10px;*/
    font-size: 16px;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    color: #4a4a4a;
  }
  .canalizar-item:hover {
    transform: scale(1.2);
  }
  .image-gallery {
    align-self: end;
    display: flex;
    gap: 38px;
    margin: 139px 43px 0 0;
    font-size: 25px;
  }
  .gallery-image {
    aspect-ratio: 1.08;
    object-fit: contain;
    object-position: center;
    width: 54px;
    background-blend-mode: color_burn;
  }
  @media (max-width: 991px) {
    .navigation {
      padding: 0 20px;
    }
    .content-wrapper {
      max-width: 100%;
      margin-top: 40px;
    }
    .mancias-description {
      padding-left: 20px;
    }
    .cta-button {
      padding: 0 20px;
    }
    .canalizar-list {
     /*margin-right: 10px;*/
    }
    .image-gallery {
      margin: 40px 10px 0 0;
    }
  }
.minimal-container2 {
  display: flex;
  min-height: 0;
  max-width: 0;
  width: 60%;
  height: 60%;
  z-index: -1;
  transition: transform 0.3s ease;
}
.minimal-container2:hover {
  transform: scale(1.1) rotate(5deg);
}
.minimal-container {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    display:flex;
    min-height: 0;
    max-width: 0;
    justify-content: center;
    align-items: center;
    margin: -180px;
    margin-top: 1px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); /* Añade esta línea */
  }
  .minimal-container:hover {
    transform: scale(1.1) rotate(5deg);
  }
  .minimal-container3 {
    width: 100%;
    height: 100%;
    display:flex;
    min-height: 0;
    max-width: 0;
    justify-content: center;
    align-items: center;
    margin: 25px;
    z-index: -1;
  }
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-15px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(15px);
    }
  }
  .shake-active {
    animation: shake 0.5s ease;
  }
  .rounded-container {
    border-radius: 20px;
    background-color: rgba(230, 230, 230, 1);
    display: flex;
    min-height: 513px;
    max-width: 473px;
  }
  /* Media query para pantallas más pequeñas */
@media only screen and (max-width: 500px) {
  .rounded-container {
    /* Ajusta los estilos para pantallas pequeñas */
    /* Por ejemplo, reduce el padding o el tamaño del texto */
    min-height: 213px;
  }
  .description-text2 {
    font-size: 12px;
  }
  .cta-button2 {
    font-size: 10px;
    padding: 10px 13px;
}
.nav-menu { 
  gap: 10px; 
  padding: 5px 10px; 
  font: 15px Inter, sans-serif; 
}
.mancias-container {
  margin-left: -80px;
  justify-content: left;
  align-items: left;
  z-index: 1;
}
.mancias-description4 {
  display: flex;
  flex-direction: column;
  height: 370px;
}
}
  .image-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    min-height: 600px;
    max-width: 560px;
    justify-content: center;
  }
  .background-image {
    position: absolute;
    height: 70%;
    width: 70%;
    object-fit: fill;
  }
  .foreground-image {
    aspect-ratio: 0.93;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media (max-width: 991px) {
    .image-container {
      padding: 0 20px;
    }
    .foreground-image {
      max-width: 100%;
    }
  }
  


